---
Title: LEARN Academy Syllabus
layout: lesson
---
<body>
  {% assign collections = site.collections | sort: 'order' %}
  {% for collection in collections %}
  <h3>{{ collection.title }}</h3>
    <ul>
      {% assign docs = collection.docs | sort: 'order' %}
      {% for doc in docs %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</body>
